#linha1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}

#linha1 div {
    background-color: red;
    width: 25%;
    padding: 1%;
}
p, h3{
    color: white;
}